DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/mydb

NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

GITHUB_ID=""
GITHUB_SECRET=""

FEEDBACK_LINK="https://github.com/mieszkosabo/table-tennis-league/issues/new?template=bug_report.md"